{% extends 'base.html.twig' %}

{% block title %} Jumperpich | Jumperpich.com  {% endblock %}


{% block body %}

    <div class="container-fluid main">

        <header style="background: #000 url('{{ asset('pictures/Background_header_webp.webp') }}') center no-repeat fixed">

            <h1>{% trans %}Bienvenue sur Jumperpich.com{% endtrans %}</h1>
            <p class="h5">Harddance , EDM & Future House podcasts.</p>

            <a href="{{ path('projet.index') }}" class="mt-4 btn btn__custom">
                {% trans %}TOUS LES PODCASTS{% endtrans %}</a>

        </header>

        <div id="podcast" class="parallax-one mt-4"
             style="background: #000 url('{{ asset('pictures/parallax3_webp.webp') }}') center no-repeat fixed">
            <div class="quote1-pattern" id="parallax-one"
                 style="background: url('{{ asset('pictures/services-banner.png') }}');">

            </div>
            <div class="row m-0">
                <div>
                    <h1 class="parallax-title"><img src="{{ asset('pictures/podcasts_webp.webp') }}"
                                                    alt="Podcast_Banner"></h1>
                </div>
            </div>
        </div>

        <div class="container my-4 py-4 text-center" id="recent">

            <h6><abbr>{% trans %}Les plus récents{% endtrans %}</abbr></h6>

            <div class="row my-4 pt-4 d-flex flex-wrap m15">

                {% for projet in last %}

                    <article class="mix col-12 col-md-6 col-lg-4 col-xl-4 article">

                        <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                           aria-label="Read more about {{ projet.title }}">

                            <figure class="d-block figure">
                                <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                   aria-label="Read more about {{ projet.title }}">

                                    <img class="image w-100 h-auto" {% if projet.filename %} src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}"
                                    {% else %} src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}"
                                    {% endif %} alt="thumb_{{ projet.title }}">

                                    <div class="middle">
                                        <i class="far fa-play-circle text"></i>
                                    </div>
                                </a>

                                {% for tag in projet.tags %}
                                    <div class="tag-top">
                                        <div class="name_tag">{{ tag.name }}</div>
                                    </div>
                                {% endfor %}

                            </figure>

                        </a>

                        <div class="info infos">

                            <div class="info__content d-flex align-items-center w-100">
                                <h1 class="mt-0 pt-0 mb-0 text-uppercase flex-grow-1" style="font-size: 1rem">
                                    <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                       aria-label="Read more about {{ projet.title }}">{{ projet.title }}</a>
                                </h1>

                            </div>
                        </div>
                    </article>
                {% endfor %}

            </div>

            <div class="text-center mt-4">
                <a href="{{ path('projet.index') }}" class="btn btn__custom">
                    {% trans %}VOIR TOUT{% endtrans %}</a>
            </div>
        </div>

        <div class="container my-4 py-4 text-center" id="popular">

            <h6><abbr>{% trans %}Les plus populaires{% endtrans %}</abbr></h6>

            <div class="row my-4 pt-4 flex-wrap m15">

                {% for projet in views %}

                    <article class="mix col-12 col-md-6 col-lg-4 col-xl-4 article">

                        <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                           aria-label="Read more about {{ projet.title }}">

                            <figure class="d-block figure">
                                <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                   aria-label="Read more about {{ projet.title }}">

                                    <img class="image w-100 h-auto" {% if projet.filename %} src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}"
                                    {% else %} src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}"
                                    {% endif %} alt="thumb_{{ projet.title }}">

                                    <div class="middle">
                                        <i class="far fa-play-circle text"></i>
                                    </div>
                                </a>

                                {% for tag in projet.tags %}
                                <div class="tag-top">
                                    <div class="name_tag">{{ tag.name }}</div>
                                    {% endfor %}
                                </div>

                            </figure>

                        </a>

                        <div class="info infos">

                            <div class="info__content d-flex align-items-center w-100">
                                <h1 class="mt-0 pt-0 mb-0 text-uppercase flex-grow-1" style="font-size: 1rem">
                                    <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                                       aria-label="Read more about {{ projet.title }}">{{ projet.title }}</a>
                                </h1>
                            </div>
                        </div>
                    </article>

                {% endfor %}

            </div>

            <div class="text-center mt-4">
                <a href="{{ path('projet.index') }}" class="btn btn__custom">
                    {% trans %}VOIR TOUT{% endtrans %}</a>
            </div>
        </div>

        <div class="container my-4 py-4 text-center" id="social">

            <h6><abbr>SOCIAL MEDIAL</abbr></h6>

            <div class="my-4 pt-4">

                <div class="text-center">

                    <div class="logo-social"><a href="https://www.facebook.com/JumperpichMusic" target="blank"><img
                                    src="{{ asset('pictures/facebook.jpg') }}" style="width:87%" alt="Facebook"></a>
                    </div>

                    <div class="logo-social"><a href="https://www.youtube.com/user/JumperPichMusic" target="blank"><img
                                    src="{{ asset('pictures/youtube.jpg') }}" style="width:87%" alt="YouTube"></a></div>

                    <div class="logo-social"><a href="https://soundcloud.com/jumperpich" target="blank"><img
                                    src="{{ asset('pictures/soundcloud.jpg') }}" style="width:87%" alt="Soundcloud"></a>
                    </div>

                </div>

            </div>

        </div>

    </div>


{% endblock %}
