

<!--{% if projets | length == 0 %}
    <div class="container mt-4" style="min-height: 320px">{% trans %}Aucun resultat :( {% endtrans %}</div>
{% endif %} -->

{% for projet in projets %}
    <article class="mix col-12 col-md-6 col-lg-4 col-xl-4 article">

        <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
           aria-label="Read more about {{ projet.title }}">

            <figure class="d-block figure">
                <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                   aria-label="Read more about {{ projet.title }}">

                    <img class="image w-100 h-auto" {% if projet.filename %} src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}"
                    {% else %} src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}"
                    {% endif %} alt="thumb_{{ projet.title }}">

                    <div class="middle">
                        <i class="far fa-play-circle text"></i>
                    </div>
                </a>

                    {% for tag in projet.tags %}
                    <div class="tag-top">
                        <div class="name_tag">{{ tag.name }}</div>
                        {% endfor %}
                    </div>

            </figure>

        </a>

        <div class="info infos">
            <div class="row flex-wrap m15">
                <div class="col-12 mw-100 info_flex">
                    <div class="info__content d-flex align-items-center w-100">
                        <h1 class="mt-0 pt-0 mb-0 text-uppercase flex-grow-1" style="font-size: 1rem">
                            <a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}"
                               aria-label="Read more about {{ projet.title }}">{{ projet.title }}</a>
                        </h1>

                    </div>
                </div>
            </div>
        </div>
    </article>
{% endfor %}

