{% extends 'base.html.twig' %}

{% block title %} Jumperpich | Jumperpich.com  {% endblock %}

{% block body %}


    <div class="container main text-dark">

            <div class="row mt-4 justify-content-center align-items-center">

                <h3><img src="{{ asset('pictures/flags/fr.png') }}"> Ce site n’est actuellement pas compatible avec Internet Explorer.
                </h3>
                <p>Pour accèder au site veuillez utiliser l’un des navigateurs suivants :</p>
                <div class="mt-4">
                    <div class="float-left text-center"><a href="https://www.google.com/intl/fr_fr/chrome/"><img
                                    src="{{ asset('pictures/icons/Google_Chrome.svg') }}" width="64" height="64" alt="Chrome"
                                    title="Chrome"/><br>Chrome</a></div>
                    <div class="float-left text-center" style="padding-left: 20px"><a
                                href="https://www.microsoft.com/fr-fr/windows/microsoft-edge"><img
                                    src="{{ asset('pictures/icons/Microsoft_Edge.svg') }}" width="64" height="64" alt="Edge"
                                    title="Edge"/><br>Edge</a></div>
                    <div class="float-left text-center" style="padding-left: 20px"><a
                                href="https://www.mozilla.org/fr/firefox/new/"><img src="{{ asset('pictures/icons/Firefox.svg') }}"
                                                                                    width="64" height="64" alt="Firefox"
                                                                                    title="Firefox"/><br>Firefox</a>
                    </div>
                    <div class="float-left text-center" style="padding-left: 20px"><a
                                href="https://www.apple.com/fr/safari/"><img src="{{ asset('pictures/icons/Safari.png') }}" width="64"
                                                                             height="64" alt="Safari"
                                                                             title="Safari"/><br>Safari</a>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center align-items-center">

                <h3><img src="{{ asset('pictures/flags/en.png') }}"> The site is currently not compatible with Internet Explorer</h3>
                <p>To access the site, please use one of the following browsers:</p>
                <div class="mt-4">
                    <div class="float-left text-center"><a href="https://www.google.com/intl/en-US/chrome/"><img
                                    src="{{ asset('pictures/icons/Google_Chrome.svg') }}" width="64" height="64" alt="Chrome"
                                    title="Chrome"/><br>Chrome</a></div>
                    <div class="float-left text-center" style="padding-left: 20px"><a
                                href="https://www.microsoft.com/en-US/windows/microsoft-edge"><img
                                    src="{{ asset('pictures/icons/Microsoft_Edge.svg') }}" width="64" height="64" alt="Edge"
                                    title="Edge"/><br>Edge</a></div>
                    <div class="float-left text-center" style="padding-left: 20px"><a
                                href="https://www.mozilla.org/en-US/firefox/new/"><img src="{{ asset('pictures/icons/Firefox.svg') }}"
                                                                                       width="64" height="64"
                                                                                       alt="Firefox"
                                                                                       title="Firefox"/><br>Firefox</a>
                    </div>
                    <div class="float-left text-center" style="padding-left: 20px"><a
                                href="https://www.apple.com/safari/"><img src="{{ asset('pictures/icons/Safari.png') }}" width="64"
                                                                          height="64" alt="Safari" title="Safari"/><br>Safari</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}