{% extends 'base.html.twig' %}

{% block body %}


    <div class="container-fluid pt-4">

    <div id="loading">
        <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
    </div>


    <div class="container main">

    <!-- Vertical navbar -->
    {{ include('vertical_nav.html.twig') }}
    <!-- End vertical navbar -->
    <!-- Page content holder -->

    <div class="page-content p-5 text-dark" id="content">

        <h6 class="text-center"><abbr>Nouveau Mix</abbr></h6>

        <div class="container my-4 py-4 shadow rounded">
            {{ form_start(form) }}
            {% for message in app.flashes('warning') %}
                <div class="fixed-top alert alert-warning alert-dismissible fade show col-md-4 col-md-offset-4"
                     align="center" role="alert">
                    <strong>Warning !</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {{ form_widget(form) }}
            <button class="btn btn__custom">Publier</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}